<div class="menu">
  <a routerLink="/home" class="menu-item">Home</a>
  <a routerLink="/00/interpolation" class="menu-item">00/interpolation</a>
  <a routerLink="01/services/user-array-list" class="menu-item">01/services/user-array-list</a>
  <a routerLink="02/forms/user-add-ngform" class="menu-item">02/forms/user-add-ngform</a>
  <a routerLink="02/forms/user-add-form-group" class="menu-item">02/forms/user-add-form-group</a>
  <a routerLink="30/http-client-page" class="menu-item">30/http-client-page</a>
</div>
